@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
html {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  padding-top: 175px;
  min-width: 320px;
  height: 100%;
  font-size: 12px;
  color: #333;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 5px;
  padding-right: 5px; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12 {
      padding-left: 5px;
      padding-right: 5px; }

.naming-title {
  position: relative;
  font-size: 13px;
  color: #333;
  margin-bottom: 15px;
  padding-left: 15px; }
  .naming-title:before {
    position: absolute;
    top: 1px;
    left: 0;
    color: #e25371;
    font-family: "fontello";
    content: "\E826"; }

.table-wrap .type-1 caption {
  color: #fff;
  text-align: center; }

.board-type-2 ul > li .code-num {
  font-size: 13px;
  color: #e25371;
  margin-top: 5px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif; }
.board-type-2 ul > li.account {
  background-image: url(../images/ange_naming/icon_account.jpg);
  background-repeat: no-repeat;
  background-size: 11px auto;
  background-position: 0 50%; }
.board-type-2 ul > li.approval {
  background-image: url(../images/ange_naming/icon_approval.jpg);
  background-repeat: no-repeat;
  background-size: 11px auto;
  background-position: 0 50%; }

.caution-box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff; }
  .caution-box.gray {
    background-color: #f6f7f9 !important; }
  .caution-box strong {
    position: relative;
    display: block;
    font-size: 13px;
    color: #e25371;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 20px; }
    .caution-box strong:before {
      position: absolute;
      top: 1px;
      left: 0;
      content: "\E81B";
      font-family: "fontello"; }
  .caution-box .decimal-list {
    padding-left: 10px;
    margin-left: 4px; }
    .caution-box .decimal-list li {
      font-size: 12px;
      color: #555;
      line-height: 17px;
      list-style: decimal;
      list-style-position: outside; }
      .caution-box .decimal-list li i {
        font-style: normal;
        color: #ff7875; }
  .caution-box .note {
    position: relative;
    font-size: 12px;
    color: #555;
    padding-left: 15px;
    line-height: 17px;
    margin-top: 10px; }
    .caution-box .note:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "※"; }

.guide-list > li ~ li {
  margin-top: 20px; }
.guide-list > li h4 {
  position: relative;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  line-height: 20px;
  padding-left: 30px; }
  .guide-list > li h4 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 22px;
    display: block;
    font-size: 11px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #ff7875;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }

.step-list-2 > li {
  position: relative;
  padding-bottom: 30px; }
  .step-list-2 > li .details {
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
    .step-list-2 > li .details:after {
      position: absolute;
      bottom: 6px;
      color: #7fbbff;
      text-align: center;
      font-family: "fontello";
      content: "\E800"; }
    .step-list-2 > li .details h5 {
      font-size: 13px;
      color: #ff7875;
      margin-bottom: 10px; }
      .step-list-2 > li .details h5 i {
        font-style: normal;
        font-family: 'Roboto', sans-serif; }
    .step-list-2 > li .details p {
      font-size: 12px;
      color: #666; }
  .step-list-2 > li:last-child {
    margin-bottom: 0; }
    .step-list-2 > li:last-child .details:after {
      display: none; }

.guide-box {
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
  .guide-box figure .img-responsive {
    margin: 0 auto; }

.naming-intro ul > li {
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
  background-color: #fff; }
  .naming-intro ul > li figure .img-responsive {
    margin: 0 auto; }
  .naming-intro ul > li figure figcaption {
    padding-top: 15px; }
    .naming-intro ul > li figure figcaption h4 {
      font-size: 15px;
      color: #333; }
      .naming-intro ul > li figure figcaption h4 small {
        font-size: 12px;
        display: block;
        color: #999;
        margin-top: 5px;
        font-family: 'Roboto', sans-serif; }
    .naming-intro ul > li figure figcaption p {
      margin-top: 10px;
      font-size: 13px;
      color: #666;
      line-height: 18px; }
  .naming-intro ul > li .btn-area {
    margin-top: 20px; }
  .naming-intro ul > li ~ li {
    margin-top: 20px; }
  .naming-intro ul > li:nth-of-type(1) figure .img-responsive {
    width: 91px; }
  .naming-intro ul > li:nth-of-type(2) figure .img-responsive {
    width: 88px; }
  .naming-intro ul > li:nth-of-type(3) figure .img-responsive {
    width: 88px; }

.application-write article ~ article {
  margin-top: 30px; }
.application-write article .article-content .table-wrap .table tbody tr th {
  width: 110px; }
.application-write article .article-content .table-wrap .table tbody tr td .attention {
  font-size: 12px;
  color: #ff7875;
  margin-top: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td .attention:before {
    content: "※"; }
.application-write article .article-content .table-wrap .table tbody tr td .form-group select {
  margin-bottom: 0; }
.application-write article .article-content .table-wrap .table tbody tr td.default-td .form-group .form-control {
  display: inline-block;
  width: 110px; }
.application-write article .article-content .table-wrap .table tbody tr td.zip-code .form-group ~ .form-group {
  padding-right: 0;
  margin-top: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td.zip-code .form-group ~ .form-group .form-control ~ .form-control {
    margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.mail .form-group input[type="text"] {
  width: 43% !important;
  display: inline-block !important; }
  .application-write article .article-content .table-wrap .table tbody tr td.mail .form-group input[type="text"]:nth-of-type(1) {
    margin-right: 2%; }
  .application-write article .article-content .table-wrap .table tbody tr td.mail .form-group input[type="text"]:nth-of-type(2) {
    margin-left: 2%; }
.application-write article .article-content .table-wrap .table tbody tr td.mail .form-group select {
  width: 100% !important;
  margin-top: 10px;
  display: block !important; }
.application-write article .article-content .table-wrap .table tbody tr td.route .form-group > div label {
  margin-right: 5px; }
  .application-write article .article-content .table-wrap .table tbody tr td.route .form-group > div label:last-child {
    margin-right: 0; }
.application-write article .article-content .table-wrap .table tbody tr td.route .form-group > label {
  display: block;
  margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.route .form-group .form-control {
  margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.birth-date .form-group ~ .form-group {
  margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.birth-date .form-group .form-control {
  display: inline-block;
  width: 37%; }
  .application-write article .article-content .table-wrap .table tbody tr td.birth-date .form-group .form-control:nth-of-type(2) {
    margin-left: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.sex .form-group label {
  display: inline-block;
  margin-right: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td.sex .form-group label:last-child {
    margin-right: 0; }
.application-write article .article-content .table-wrap .table tbody tr td.except .form-group label {
  display: block; }
  .application-write article .article-content .table-wrap .table tbody tr td.except .form-group label ~ label {
    margin-top: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td.except .form-group label .form-control {
    width: 120px;
    display: inline-block;
    margin-left: 10px; }
.application-write .caution-box {
  margin-top: 30px; }
.application-write .btn-area {
  text-align: right;
  margin-top: 30px; }

.success .article-content {
  padding: 35px 20px 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #fff; }
  .success .article-content figure img {
    width: 71px;
    display: block;
    margin: 0 auto; }
  .success .article-content .details {
    text-align: center;
    margin-top: 30px; }
    .success .article-content .details h4 {
      font-size: 15px;
      color: #333;
      font-weight: 400;
      margin-bottom: 20px; }
    .success .article-content .details p {
      font-size: 13px;
      color: #666;
      line-height: 18px; }
      .success .article-content .details p i {
        font-style: normal;
        color: #e25371; }
  .success .article-content .table-wrap {
    margin-top: 20px; }
.success .btn-area {
  text-align: right;
  margin-top: 30px; }

.progress-list .article-content {
  margin-top: 30px; }
  .progress-list .article-content .attention {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px; }
    .progress-list .article-content .attention:before {
      content: "※";
      margin-right: 3px; }
  .progress-list .article-content .paging {
    margin-top: 20px; }
.progress-list .btn-area {
  margin-top: 30px;
  text-align: right; }

.five-elements .article-content {
  margin-top: 30px; }
  .five-elements .article-content .table-wrap .table tbody tr th {
    text-align: center; }
  .five-elements .article-content .table-wrap .table tbody tr td {
    text-align: center;
    line-height: 24px; }
    .five-elements .article-content .table-wrap .table tbody tr td .graph {
      padding: 40px; }
      .five-elements .article-content .table-wrap .table tbody tr td .graph .img-responsive {
        margin: 0 auto; }
  .five-elements .article-content .btn-area {
    margin-top: 20px;
    text-align: right; }
    .five-elements .article-content .btn-area p {
      font-size: 0; }
      .five-elements .article-content .btn-area p ~ p {
        margin-top: 10px; }
      .five-elements .article-content .btn-area p:nth-of-type(2) {
        margin-top: 20px; }
      .five-elements .article-content .btn-area p .btn {
        font-size: 12px; }
      .five-elements .article-content .btn-area p .btn-md {
        width: 48%;
        margin-right: 4%; }
        .five-elements .article-content .btn-area p .btn-md:last-child {
          margin-right: 0; }

.special-change .article-content {
  margin-top: 30px; }
  .special-change .article-content .attention {
    font-size: 13px;
    color: #333;
    margin-bottom: 10px; }
    .special-change .article-content .attention:before {
      content: "※"; }
  .special-change .article-content .board-type-2 ul > li .list-details .title .code-num {
    color: #666; }
  .special-change .article-content .board-type-2 ul > li .list-details .btn-area {
    margin-top: 10px;
    text-align: right; }
    .special-change .article-content .board-type-2 ul > li .list-details .btn-area p .btn-xs {
      width: 75px;
      height: 30px;
      color: #666;
      line-height: 28px;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0 0 0 auto;
      border-radius: 3px; }
      .special-change .article-content .board-type-2 ul > li .list-details .btn-area p .btn-xs.btn-success {
        border: 1px solid #c2c2c2;
        background-color: #dfdfdf; }
      .special-change .article-content .board-type-2 ul > li .list-details .btn-area p .btn-xs.btn-apply {
        border: 1px solid #c2c2c2; }
  .special-change .article-content .paging {
    margin-top: 20px; }
  .special-change .article-content > .btn-area {
    text-align: right;
    margin-top: 20px; }

.access-guide .summary {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px; }

.application-view article ~ article {
  margin-top: 30px; }
.application-view article .table-wrap .table tr th {
  letter-spacing: -.5px; }
.application-view article .table-wrap .table tr td .attention {
  font-size: 12px;
  color: #ff7875;
  margin-top: 10px; }
  .application-view article .table-wrap .table tr td .attention:before {
    content: "※"; }
.application-view .btn-area {
  text-align: right;
  margin-top: 30px; }

.spacial-intro article ~ article {
  margin-top: 50px; }
.spacial-intro article .article-header p {
  font-size: 12px;
  color: #666;
  line-height: 18px; }
.spacial-intro article .article-header figure {
  text-align: center; }
  .spacial-intro article .article-header figure .img-responsive {
    margin: 0 auto;
    height: 130px; }
  .spacial-intro article .article-header figure figcaption {
    font-size: 12px;
    color: #333;
    margin-top: 10px; }
.spacial-intro article .article-content {
  margin-top: 20px; }
  .spacial-intro article .article-content .apply-info strong {
    display: block;
    font-size: 13px;
    color: #e25371;
    font-weight: 500;
    margin-bottom: 10px; }
    .spacial-intro article .article-content .apply-info strong:before {
      font-family: "fontello";
      content: "\E81B";
      margin-right: 5px; }
  .spacial-intro article .article-content .decimal-list > li {
    font-size: 12px;
    color: #666;
    line-height: 16px;
    list-style: decimal;
    list-style-position: inside; }
  .spacial-intro article .article-content .table-wrap .table tbody tr th {
    letter-spacing: -.5px; }
  .spacial-intro article .article-content .table-wrap .table tbody tr td {
    color: #666;
    line-height: 25px; }
    .spacial-intro article .article-content .table-wrap .table tbody tr td a {
      color: #666; }

/*# sourceMappingURL=ange_naming.css.map */
