@import url("../css/common.css");

/* 마일리지 독립 리스트, 뷰 */
.mileage-review-list {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

/* 마일리지 몰 */
.mileage-list .section-content .banner {
    display: block;
    margin-bottom: 30px;
}
.mileage-list .section-content .banner a {
    display: block;
}
.mileage-list .section-content .banner a figure img {
    width: 100%;
}
.mileage-list .section-content .board-type-5 .paging {
    margin-top: 30px;
}

/* 마일리지몰 뷰 상품후기 공통*/
.product-report .section-header {
    padding-bottom: 0;
}
.product-report .section-header figure img {
    width: 100%;
}
.product-report .section-header .sns-like {
    margin-top: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}
.product-report .section-header .sns-like .sns-share {
    float: left;
    padding-top: 5px;
}
.product-report .section-header .sns-like .sns-share li {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}
.product-report .section-header .sns-like .sns-share > li > a > img {
    width: 100%;
}
.product-report .section-header .sns-like .btn-like {
    float: right;
}
.product-report .section-header .sns-like .btn-like .btn.btn-xs {
    text-align: center;
    width: 63px;
    font-size: 10px;
    color: #666;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.product-report .section-header .sns-like .btn-like .btn.btn-xs .icon-heart {
    color: #ff7875;
}
.product-report .section-header .information {
    margin-top: 20px;
}
.product-report .section-header .information .info-head h3 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.product-report .section-header .information .info-head p {
    font-size: 12px;
    line-height: 17px;
    color: #333;
    padding-top: 15px;
    padding-bottom: 20px;
}
.product-report .section-header .information .info-body {
    border-top: 1px solid #cecfd2;
    border-bottom: 1px solid #cecfd2;
}
.product-report .section-header .information .info-body .info-first dl {
    border-bottom: 1px solid #cecfd2;
}
.product-report .section-header .information .info-body dl {   
    padding: 15px 5px;
    overflow: hidden;
}
.product-report .section-header .information .info-body dl dt {
    float: left;
    clear: both;
    width: 80px;
    color: #000;
    line-height: 24px;
}
.product-report .section-header .information .info-body dl dd {
    padding-left: 80px;
    color: #333;
    font-weight: 300;
    line-height: 24px;
}
.product-report .section-header .information .info-body .info-second dl .payment {
    color: #ff7875;
}
.product-report .section-header .information .info-body .info-second dl .delivery {
    color: #ff7875;
}
.product-report .section-header .btn-area {
    margin: 20px 0 40px;
}
.product-report .section-content .tab-accordion .panel-group .panel .panel-collapse .panel-body figure img {
    width: 100%;
}

/* 마일리지몰 상품후기 상품정보*/
.mileage-view .section-content .tab-accordion .panel-group .panel .panel-collapse .panel-body .board-type-2 .paging {
    margin-top: 20px;
}
.mileage-view .section-content .tab-accordion .panel-group .panel .panel-collapse .panel-body .board-type-2 .btn-area {
    margin-top: 10px;
    text-align: right;
}

/* 마일리지몰 상품후기 뷰*/
.mileage-view .product-report .section-content .tab-accordion .panel-group .panel .panel-collapse .panel-body .board-view .btn-area {
    margin-bottom: 0;
}

/* 마일리지몰 상품후기 쓰기 */
.mileage-write .table-wrap .table tbody tr td a {
    display: block;
    text-decoration: none;
}
.mileage-write .table-wrap .table tbody tr td a .item {
    width: 77px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #d7d7d7;
}
.mileage-write .table-wrap .table tbody tr td a .item img {
    width: 100%;
}
.mileage-write .table-wrap .table tbody tr td a .details {
    font-size: 10px;
    color: #333;
    line-height: 16px;
    margin-bottom: 10px;
}
.mileage-write .table-wrap .btn-area {
    text-align: right;
    margin-top: 30px;
}

/* 비밀번호 확인 */
.pw-confirm .container > article {
    padding: 35px 20px;
    background-color: #fff;
    border-radius: 10px;
}
.pw-confirm .container > article figure {
    width: 44px;
    margin: 0 auto;
}
.pw-confirm .container > article figure img {
    width: 100%;
}
.pw-confirm .container > article .details {
    padding-top: 30px;
    padding-bottom: 20px;
}
.pw-confirm .container > article .details h2 {
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.pw-confirm .container > article .details .summary {
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    color: #8f8f8f;
    word-break: keep-all;
}
.pw-confirm .container > article .form-group .form-control {
    width: 260px;
    margin: 0 auto;
}
.pw-confirm .container > article .btn-area {
    margin-top: 30px;
}

/* 빅딜 */
.big-deal .section-content .board-type-5 .paging {
    margin-top: 30px;
}

/* 장바구니 목록 */
.basket-list .section-content .board-type-4 {
    padding: 5px 9px 0;
}
.basket-list .section-content .board-type-4 > ul > li {
    padding: 20px 15px 30px;
}
.basket-list .section-content > .btn-area {
    margin-top: 20px;
    text-align: right;
}

/* 장바구니 주문결제 */
.order-write .view-details {
    margin-top: 20px;
}
.order-write .section-content .table-wrap .btn-modify {
    text-align: right;
    margin-bottom: 10px;
}
.order-write .section-content .table-wrap .btn-modify p {
    line-height: 30px;
    font-size: 12px;
    color: #666;
    margin-right: 10px;
    display: inline-block;
}
.order-write .section-content .table-wrap .btn-modify .btn-xs {
    display: inline-block;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #999;
    font-size: 10px;
    width: 60px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
}
.order-write .section-content .table-wrap .radio-box {
    text-align: right;
    margin-top: 35px;
    margin-bottom: 10px;
}
.order-write .section-content .table-wrap .radio-box .form-group label  {
    color: #999;
    margin-right: 10px;
    font-weight: 300;
}
.order-write .section-content .table-wrap .radio-box .form-group label:last-child {
    margin-right: 0;
}
.order-write .section-content .table-wrap .radio-box .form-group label input[type="radio"] {
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.order-write .section-content .table-wrap .btn-area {
    text-align: right;
}


/* 장바구니 주문완료 */
.success .section-header .success-info {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 15px 30px;
    background-color: #fff;
    border-radius: 10px;
}
.success .section-header .view-details {
    margin-top: 30px;
}
.success .section-header .success-info figure img {
    width: 100%;
}
.success .section-header .success-info figure figcaption {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
    color: #ff7875;
    font-weight: 500;
}
.success .section-header .success-info dl {
    overflow: hidden;
    text-align: center;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
}
.success .section-header .success-info dl dt {
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
}
.success .section-header .success-info dl dt:after {
    content: " : "
}
.success .section-header .success-info dl dd {
    display: inline-block;
    font-weight: 300;
}
.success .section-header .success-info p {
    text-align: center;
    color: #333;
    word-break: keep-all;
    font-size: 12px;
    line-height: 18px;
}
.success .section-content .table.type-1 ~ .table.type-1 {
    margin-top: 15px;
}
.success .section-content .table-wrap .btn-area {
    padding: 20px 0 30px;
    text-align: right;
}
.success .section-content .attention-box {
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}
.success .section-content .attention-box ol li {
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    color: #666;
    line-height: 17px;
    margin-top: 5px;
}
.success .section-content .attention-box ol li span {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 8px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    background-color: #ad9cc4;
    font-family: 'Roboto', sans-serif;
}

/*핫딜 장바구니 step01*/
.hotdeal-basket01 .section-content .board-type-4 > ul > li .list-header a .item-title {
    vertical-align: top;
    display: table-cell;
    font-size: 14px;
    color: #333;
    word-break: break-word;
    line-height: 20px;
    font-weight: 400;
    padding-left: 25px;
}
.hotdeal-basket01 .section-content .board-type-4 > ul > li .details-info {
	position: static;
	margin-top: 0;
	padding-left: 100px;
}
.hotdeal-basket01 .section-content .board-type-4 > ul > li .details-info dl dd .option {
	padding-left: 45px;
}
.hotdeal-basket01 .section-content .board-type-4 > ul > li .details-info dl dd i {
	font-style: normal;
	color: #ff7875;
}
.hotdeal-basket01 .section-content .board-type-4 > ul > li .details-info .btn-area {
	position: static;
	margin-top: 15px;
}
.hotdeal-basket01 .section-content > .btn-area {
	margin-top: 20px;
    text-align: right;
}
.hotdeal-basket01 .section-content .board-type-4 > ul > li .details-info .btn-area .btn.btn-md {
	width: 100%;
}




/*핫딜 장바구니 step02*/
.hotdeal-basket02 .product a .item-title {
	word-break: break-word;
    line-height: 20px;
    font-weight: 400;
    padding-left: 25px;
}
.hotdeal-basket02 .section-content .table-wrap .radio-box .form-group label {
    color: #999;
    margin-right: 10px;
    font-weight: 300;
}
.hotdeal-basket02 .view-details {
    margin-top: 20px;
}
.hotdeal-basket02 .section-content .table-wrap .radio-box {
	text-align: right;
    margin-top: 35px;
    margin-bottom: 10px;
}
.hotdeal-basket02 .section-content .table-wrap .radio-box .form-group label input[type="radio"] {
	position: relative;
    top: 3px;
    margin-right: 5px;
}
.hotdeal-basket02 .view-details .product dl {
    padding-left: 99px;
	margin-top: 5px;
}
.hotdeal-basket02 .section-header .view-details .product dl dd .option {
	padding-left: 45px;
}
.hotdeal-basket02 .section-header .view-details .product dl dd i {
	font-style: normal;
	color: #ff7875;
}
.hotdeal-basket02 .section-header .view-details .total > ul > li {
	color: #999;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child {
	margin-top: 20px;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td .form-group .form-control {
	width: 105px;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td > p {
	font-size: 11px;
	color: #999;
	margin-top: 7px;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td > p i {
	font-style: normal;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td > p .max {
	color: #ff7875;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td > p .have {
	color: #7da7d9;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td label {
	font-weight: 300;
}
.hotdeal-basket02 .section-content .table-wrap .table.type-1:first-child tbody tr td label:first-child {
	margin-right: 15px;
}
.hotdeal-basket02 .section-content .table-wrap .btn-area {
	text-align: right;
	margin-top: 20px;
}
.hotdeal-basket02 .table-wrap .table tbody tr td label input {
    top: 2px;
}
.hotdeal-basket02 .table-wrap .table tbody tr td .form-group textarea {
	height: 60px;
}



/*핫딜 마일리지몰 상세보기*/

/*공통*/
.hotdeal-view .product-report .section-header .information .info-head h3 {
	font-size: 16px;
	line-height: 24px;
	word-break: keep-all;
}
.hotdeal-view .product-report .section-header .information .info-body dl dt {
    width: 95px;
}
.hotdeal-view .product-report .section-header .information .info-body dl dd {
	padding-left: 95px;
}
.hotdeal-view .product-report .section-header .information .info-body dl dd > i {
	font-style: normal;
	color: #ff7875;
	font-weight: 300;
}
.hotdeal-view .product-report .section-header .information .info-body dl dd .time-price {
	font-size: 15px;
	font-weight: 500;
}
.hotdeal-view .product-report .section-header .information .info-body .info-second dl dd .form-group .form-control {
	width: 85px;
	height: 20px;
	margin-top: 3px;
}
.hotdeal-view .product-report .section-header .information .info-body .info-second dl dd .form-group #amount {
	width: 45px;
	padding: 5px;
}
.hotdeal-view .product-report .section-header .information .info-body .info-second dl dd .form-group select {
	padding: 0;
}
.hotdeal-view .product-report .section-header .btn-area p a {
	margin-right: 0;
}
.hotdeal-view .product-report .section-header .btn-area p a:nth-of-type(1) {
	margin-right: 10px;
}
.hotdeal-view .product-report .section-header .btn-area p .btn:first-child {
	margin-right: 4%;
}
.hotdeal-view .product-report .section-header .btn-area p .btn {
	width: 48%;
}
.hotdeal-view .product-report .section-header .btn-area p .btn-naver {
	width: 100%;
	line-height: 32px;
    color: #fff;
    border: 1px solid #00c73c;
	background-color: #00c73c;
	margin-top: 10px;
} 
.hotdeal-view .product-report .section-header .btn-area p .btn-naver:before {
	content: "";
	width: 40px;
	height: 15px;
	text-align: center;
	display: inline-block;
	background-image: url(/assets/images/ange_mall/naver_pay.jpg);
	background-size: 40px 15px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 50% 50%;
}

/* 핫딜 리스트 */
.hotdeal-list .section-content .board-type-5 ul li a {
	position: relative;
}
/*.hotdeal-list .section-content .board-type-5 ul li a .sale-label {
	position: absolute;
	top: -6px;
	left: 7px;
}
.hotdeal-list .section-content .board-type-5 ul li a .sale-label img {
	width: 55px;
}*/
.hotdeal-list .section-content .board-type-5 ul li a .sale-label {
	position: absolute;
    top: -5px;
    left: 7px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    width: 40px;
    height: 38px;
    z-index: 5;
    /* padding-top: 10px; */
    padding-top: 7px;
    background-image: url(/assets/images/ange_mall/sale-label.png);
    background-repeat: no-repeat;
    /* background-size: 55px auto; */
    background-size: 40px 38px;
    font-family: 'Roboto', sans-serif;
}
.hotdeal-list .section-content .board-type-5 ul li a .clock {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
}
.hotdeal-list .section-content .board-type-5 ul li a .clock img {
	width: 35px;
}
.hotdeal-list .section-content .board-type-5 ul li a figure {
	position: relative;
}
.hotdeal-list .section-content .board-type-5 ul li a figure dl {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 26px;
	line-height: 24px;
	z-index: 5;
	background-color: #e5647f;
}
.hotdeal-list .section-content .board-type-5 ul li a figure dl dt {
	display: inline-block;
	font-size: 11px;
	color: #fff;
}
.hotdeal-list .section-content .board-type-5 ul li a figure dl dd {
	display: inline-block;
	font-size: 11px;
	color: #fff;
}
.hotdeal-list .section-content .board-type-5 ul li a figure dl dd span {
	display: inline-block;
	width: 15px;
	height: 15px;
	color: #e5647f;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}
















