@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
html {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  padding-top: 175px;
  min-width: 320px;
  height: 100%;
  font-size: 12px;
  color: #333;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 5px;
  padding-right: 5px; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12 {
      padding-left: 5px;
      padding-right: 5px; }

.naming-title {
  position: relative;
  font-size: 13px;
  color: #333;
  margin-bottom: 15px;
  padding-left: 15px; }
  .naming-title:before {
    position: absolute;
    top: 1px;
    left: 0;
    color: #e25371;
    font-family: "fontello";
    content: "\E826"; }

.table-wrap .type-1 caption {
  color: #fff;
  text-align: center; }

.board-type-2 ul > li .code-num {
  font-size: 13px;
  color: #e25371;
  margin-top: 5px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif; }
.board-type-2 ul > li.account {
  background-image: url(../images/ange_naming/icon_account.jpg);
  background-repeat: no-repeat;
  background-size: 11px auto;
  background-position: 0 50%; }
.board-type-2 ul > li.approval {
  background-image: url(../images/ange_naming/icon_approval.jpg);
  background-repeat: no-repeat;
  background-size: 11px auto;
  background-position: 0 50%; }

.caution-box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff; }
  .caution-box.gray {
    background-color: #f6f7f9 !important; }
  .caution-box strong {
    position: relative;
    display: block;
    font-size: 13px;
    color: #e25371;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 20px; }
    .caution-box strong:before {
      position: absolute;
      top: 1px;
      left: 0;
      content: "\E81B";
      font-family: "fontello"; }
  .caution-box .decimal-list {
    padding-left: 10px;
    margin-left: 4px; }
    .caution-box .decimal-list li {
      font-size: 12px;
      color: #555;
      line-height: 17px;
      list-style: decimal;
      list-style-position: outside; }
      .caution-box .decimal-list li i {
        font-style: normal;
        color: #ff7875;
        font-weight: 400; }
      .caution-box .decimal-list li b {
        font-weight: 400; }
  .caution-box .hyphen-list li {
    font-size: 12px;
    color: #555;
    line-height: 17px; }
    .caution-box .hyphen-list li:before {
      content: "- "; }
    .caution-box .hyphen-list li i {
      font-style: normal;
      color: #ff7875;
      font-weight: 400; }
    .caution-box .hyphen-list li b {
      font-weight: 400; }
  .caution-box .note {
    position: relative;
    font-size: 12px;
    color: #555;
    padding-left: 15px;
    line-height: 17px;
    margin-top: 10px; }
    .caution-box .note:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "※"; }
  .caution-box .attention {
    position: relative;
    font-size: 12px;
    color: #555;
    padding-left: 15px;
    line-height: 17px;
    margin-top: 10px; }
    .caution-box .attention:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "※"; }
    .caution-box .attention a {
      color: #555; }
    .caution-box .attention i {
      font-style: normal;
      color: #ff7875;
      font-weight: 400; }

.guide-list > li ~ li {
  margin-top: 20px; }
.guide-list > li h4 {
  position: relative;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  line-height: 20px;
  padding-left: 30px; }
  .guide-list > li h4 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 22px;
    display: block;
    font-size: 11px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #ff7875;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }

.step-list-2 > li {
  position: relative;
  padding-bottom: 30px; }
  .step-list-2 > li .details {
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
    .step-list-2 > li .details:after {
      position: absolute;
      bottom: 6px;
      color: #7fbbff;
      text-align: center;
      font-family: "fontello";
      content: "\E800"; }
    .step-list-2 > li .details h5 {
      font-size: 13px;
      color: #ff7875;
      margin-bottom: 10px; }
      .step-list-2 > li .details h5 i {
        font-style: normal;
        font-family: 'Roboto', sans-serif; }
    .step-list-2 > li .details p {
      font-size: 12px;
      color: #666; }
  .step-list-2 > li:last-child {
    margin-bottom: 0; }
    .step-list-2 > li:last-child .details:after {
      display: none; }

.guide-box {
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
  .guide-box figure .img-responsive {
    margin: 0 auto; }

.naming-intro ul > li {
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
  background-color: #fff; }
  .naming-intro ul > li figure .img-responsive {
    margin: 0 auto; }
  .naming-intro ul > li figure figcaption {
    padding-top: 15px; }
    .naming-intro ul > li figure figcaption h4 {
      font-size: 15px;
      color: #333; }
      .naming-intro ul > li figure figcaption h4 small {
        font-size: 12px;
        display: block;
        color: #999;
        margin-top: 5px;
        font-family: 'Roboto', sans-serif; }
    .naming-intro ul > li figure figcaption p {
      margin-top: 10px;
      font-size: 13px;
      color: #666;
      line-height: 18px; }
  .naming-intro ul > li .btn-area {
    margin-top: 20px; }
  .naming-intro ul > li ~ li {
    margin-top: 20px; }
  .naming-intro ul > li:nth-of-type(1) figure .img-responsive {
    width: 91px; }
  .naming-intro ul > li:nth-of-type(2) figure .img-responsive {
    width: 88px; }
  .naming-intro ul > li:nth-of-type(3) figure .img-responsive {
    width: 88px; }

.application-write article ~ article {
  margin-top: 30px; }
.application-write article .article-content .table-wrap .table tbody tr th {
  width: 110px; }
.application-write article .article-content .table-wrap .table tbody tr td .attention {
  font-size: 12px;
  color: #ff7875;
  margin-top: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td .attention:before {
    content: "※"; }
.application-write article .article-content .table-wrap .table tbody tr td .form-group select {
  margin-bottom: 0; }
.application-write article .article-content .table-wrap .table tbody tr td.default-td .form-group .form-control {
  display: inline-block;
  width: 110px; }
.application-write article .article-content .table-wrap .table tbody tr td.zip-code .form-group ~ .form-group {
  padding-right: 0;
  margin-top: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td.zip-code .form-group ~ .form-group .form-control ~ .form-control {
    margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.mail .form-group input[type="text"] {
  width: 42% !important;
  display: inline-block !important; }
  .application-write article .article-content .table-wrap .table tbody tr td.mail .form-group input[type="text"]:nth-of-type(1) {
    margin-right: 2%; }
  .application-write article .article-content .table-wrap .table tbody tr td.mail .form-group input[type="text"]:nth-of-type(2) {
    margin-left: 2%; }
.application-write article .article-content .table-wrap .table tbody tr td.mail .form-group select {
  width: 100% !important;
  margin-top: 10px;
  display: block !important; }
.application-write article .article-content .table-wrap .table tbody tr td.route .form-group > div label {
  margin-right: 5px; }
  .application-write article .article-content .table-wrap .table tbody tr td.route .form-group > div label:last-child {
    margin-right: 0; }
.application-write article .article-content .table-wrap .table tbody tr td.route .form-group > label {
  display: block;
  margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.route .form-group .form-control {
  margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.birth-date .form-group ~ .form-group {
  margin-top: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.birth-date .form-group .form-control {
  display: inline-block;
  width: 37%; }
  .application-write article .article-content .table-wrap .table tbody tr td.birth-date .form-group .form-control:nth-of-type(2) {
    margin-left: 10px; }
.application-write article .article-content .table-wrap .table tbody tr td.sex .form-group label {
  display: inline-block;
  margin-right: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td.sex .form-group label:last-child {
    margin-right: 0; }
.application-write article .article-content .table-wrap .table tbody tr td.except .form-group label {
  display: block; }
  .application-write article .article-content .table-wrap .table tbody tr td.except .form-group label ~ label {
    margin-top: 10px; }
  .application-write article .article-content .table-wrap .table tbody tr td.except .form-group label .form-control {
    width: 120px;
    display: inline-block;
    margin-left: 10px; }
.application-write .caution-box {
  margin-top: 30px; }
.application-write .btn-area {
  text-align: right;
  margin-top: 30px; }

.success .article-content {
  padding: 35px 20px 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #fff; }
  .success .article-content figure img {
    width: 71px;
    display: block;
    margin: 0 auto; }
  .success .article-content .details {
    text-align: center;
    margin-top: 30px; }
    .success .article-content .details h4 {
      font-size: 15px;
      color: #333;
      font-weight: 400;
      margin-bottom: 20px; }
    .success .article-content .details p {
      font-size: 13px;
      color: #666;
      line-height: 18px; }
      .success .article-content .details p i {
        font-style: normal;
        color: #e25371; }
  .success .article-content .table-wrap {
    margin-top: 20px; }
.success .btn-area {
  text-align: right;
  margin-top: 30px; }

.progress-list .article-content {
  margin-top: 30px; }
  .progress-list .article-content .board-type-2 > ul > li a .title > h3 {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    margin-bottom: 5px; }
  .progress-list .article-content .attention {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px; }
    .progress-list .article-content .attention:before {
      content: "※";
      margin-right: 3px; }
  .progress-list .article-content .paging {
    margin-top: 20px; }
.progress-list .btn-area {
  margin-top: 30px;
  text-align: right; }

.five-elements .article-content {
  margin-top: 30px; }
  .five-elements .article-content .table-wrap .table tbody tr th {
    text-align: center; }
  .five-elements .article-content .table-wrap .table tbody tr td {
    text-align: center;
    line-height: 24px; }
    .five-elements .article-content .table-wrap .table tbody tr td .graph {
      padding: 40px; }
      .five-elements .article-content .table-wrap .table tbody tr td .graph .img-responsive {
        margin: 0 auto; }
  .five-elements .article-content .btn-area {
    margin-top: 20px;
    text-align: right; }
    .five-elements .article-content .btn-area p {
      font-size: 0; }
      .five-elements .article-content .btn-area p ~ p {
        margin-top: 10px; }
      .five-elements .article-content .btn-area p:nth-of-type(2) {
        margin-top: 20px; }
      .five-elements .article-content .btn-area p .btn {
        font-size: 12px; }
      .five-elements .article-content .btn-area p .btn-md {
        width: 48%;
        margin-right: 4%; }
        .five-elements .article-content .btn-area p .btn-md:last-child {
          margin-right: 0; }

.special-change .article-content {
  margin-top: 30px; }
  .special-change .article-content .attention {
    font-size: 13px;
    color: #333;
    margin-bottom: 10px; }
    .special-change .article-content .attention:before {
      content: "※"; }
  .special-change .article-content .board-type-2 ul > li .list-details .title .code-num {
    color: #666; }
  .special-change .article-content .board-type-2 ul > li .list-details .btn-area {
    margin-top: 10px;
    text-align: right; }
    .special-change .article-content .board-type-2 ul > li .list-details .btn-area p .btn-xs {
      width: 75px;
      height: 30px;
      color: #666;
      line-height: 28px;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0 0 0 auto;
      border-radius: 3px; }
      .special-change .article-content .board-type-2 ul > li .list-details .btn-area p .btn-xs.btn-success {
        border: 1px solid #c2c2c2;
        background-color: #dfdfdf; }
      .special-change .article-content .board-type-2 ul > li .list-details .btn-area p .btn-xs.btn-apply {
        border: 1px solid #c2c2c2; }
  .special-change .article-content .paging {
    margin-top: 20px; }
  .special-change .article-content > .btn-area {
    text-align: right;
    margin-top: 20px; }

.access-guide .summary {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px; }

.application-view article ~ article {
  margin-top: 30px; }
.application-view article .article-content .table-wrap .table tr td.recommend-name .form-group .form-control ~ .form-control {
  margin-top: 10px; }
.application-view article .article-content .table-wrap .table tr td.file .form-group label {
  margin-right: 0; }
.application-view article .table-wrap .table tr th {
  letter-spacing: -.5px; }
.application-view article .table-wrap .table tr td .attention {
  font-size: 12px;
  color: #ff7875;
  margin-top: 10px; }
  .application-view article .table-wrap .table tr td .attention:before {
    content: "※"; }
.application-view .btn-area {
  text-align: right;
  margin-top: 30px; }

.spacial-intro article ~ article {
  margin-top: 50px; }
.spacial-intro article .article-header p {
  font-size: 12px;
  color: #666;
  line-height: 18px; }
.spacial-intro article .article-header figure {
  text-align: center; }
  .spacial-intro article .article-header figure .img-responsive {
    margin: 0 auto;
    height: 130px; }
  .spacial-intro article .article-header figure figcaption {
    font-size: 12px;
    color: #333;
    margin-top: 10px; }
.spacial-intro article .article-content {
  margin-top: 20px; }
  .spacial-intro article .article-content .apply-info strong {
    display: block;
    font-size: 13px;
    color: #e25371;
    font-weight: 500;
    margin-bottom: 10px; }
    .spacial-intro article .article-content .apply-info strong:before {
      font-family: "fontello";
      content: "\E81B";
      margin-right: 5px; }
  .spacial-intro article .article-content .decimal-list > li {
    font-size: 12px;
    color: #666;
    line-height: 16px;
    list-style: decimal;
    list-style-position: inside; }
  .spacial-intro article .article-content .table-wrap .table tbody tr th {
    letter-spacing: -.5px; }
  .spacial-intro article .article-content .table-wrap .table tbody tr td {
    color: #666;
    line-height: 25px; }
    .spacial-intro article .article-content .table-wrap .table tbody tr td a {
      color: #666; }

.name-author .author-list > li {
  position: relative;
  padding: 30px 10px;
  padding-left: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff; }
  .name-author .author-list > li ~ li {
    margin-top: 10px; }
  .name-author .author-list > li figure {
    position: absolute;
    top: 30px;
    left: 15px; }
    .name-author .author-list > li figure .img-responsive {
      width: 73px; }
  .name-author .author-list > li .details p {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px; }
  .name-author .author-list > li .details h4 {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px; }
    .name-author .author-list > li .details h4 strong {
      font-size: 30px; }
  .name-author .author-list > li .details .dot-list li {
    position: relative;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    padding-left: 10px; }
    .name-author .author-list > li .details .dot-list li:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 10px;
      font-family: "fontello";
      content: "\E805"; }

.name-step01 .article-header .caution-box .attention {
  position: relative;
  padding-left: 15px;
  font-size: 12px;
  color: #555;
  margin-top: 10px; }
  .name-step01 .article-header .caution-box .attention:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "※"; }
  .name-step01 .article-header .caution-box .attention a {
    color: #555; }
.name-step01 .article-content {
  margin-top: 30px; }
  .name-step01 .article-content .summary {
    font-size: 12px;
    color: #666;
    line-height: 18px; }
  .name-step01 .article-content .default-table {
    margin-top: 20px; }

.default-table .table {
  border-top: 0 !important; }
  .default-table .table thead tr th {
    font-size: 12px;
    color: #fff;
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
    border: 0;
    background-color: #979aa2; }
  .default-table .table tbody tr td {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff; }
    .default-table .table tbody tr td.syllable {
      color: #e25371; }
    .default-table .table tbody tr td .btn-proceed .btn-xs {
      width: 60px;
      height: 30px;
      font-size: 12px;
      color: #666;
      line-height: 28px;
      text-align: center;
      border-radius: 30px;
      border: 1px solid #cfcfcf; }

.name-step02 .article-content {
  margin-top: 30px; }
  .name-step02 .article-content .summary {
    font-size: 12px;
    color: #666;
    line-height: 18px; }
  .name-step02 .article-content .default-table {
    margin-top: 20px; }
    .name-step02 .article-content .default-table .table tbody tr td {
      vertical-align: middle;
      height: 50px;
      border: 1px solid #dfdfdf;
      padding: 10px; }
      .name-step02 .article-content .default-table .table tbody tr td.th-bg {
        height: 30px;
        color: #fff;
        background-color: #979aa2; }
      .name-step02 .article-content .default-table .table tbody tr td .form-group .form-control {
        display: inline-block;
        width: 50px;
        padding: 5px; }
  .name-step02 .article-content .btn-area {
    text-align: right;
    margin-top: 20px; }

.name-step03 .section-content {
  margin-top: 30px; }
  .name-step03 .section-content .summary {
    font-size: 12px;
    color: #666;
    line-height: 18px; }
    .name-step03 .section-content .summary i {
      font-style: normal;
      color: #e25371; }
  .name-step03 .section-content article ~ article {
    margin-top: 40px; }
  .name-step03 .section-content article.middle-stroke .article-content .default-table {
    margin-top: 20px; }
    .name-step03 .section-content article.middle-stroke .article-content .default-table .table tbody tr td {
      vertical-align: middle;
      height: 50px;
      border: 1px solid #dfdfdf;
      padding: 10px; }
      .name-step03 .section-content article.middle-stroke .article-content .default-table .table tbody tr td.th-bg {
        height: 30px;
        color: #fff;
        background-color: #979aa2; }
      .name-step03 .section-content article.middle-stroke .article-content .default-table .table tbody tr td .form-group .form-control {
        display: inline-block;
        width: 50px;
        padding: 5px; }
  .name-step03 .section-content article.middle-stroke .article-content .btn-area {
    text-align: right;
    margin-top: 20px; }
  .name-step03 .section-content article.selection-name .article-content {
    margin-top: 20px; }
    .name-step03 .section-content article.selection-name .article-content > ul {
      display: table;
      width: 100%;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .name-step03 .section-content article.selection-name .article-content > ul > li {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: 15px 10px;
        width: 33.33%;
        border-right: 1px solid #dfdfdf; }
        .name-step03 .section-content article.selection-name .article-content > ul > li:last-child {
          border-right: 0; }
        .name-step03 .section-content article.selection-name .article-content > ul > li:nth-of-type(1) {
          background-color: #e9d7e0; }
        .name-step03 .section-content article.selection-name .article-content > ul > li:nth-of-type(2) {
          background-color: #ede5e1; }
        .name-step03 .section-content article.selection-name .article-content > ul > li:nth-of-type(3) {
          background-color: #d9e6ea; }
        .name-step03 .section-content article.selection-name .article-content > ul > li strong {
          font-size: 14px;
          font-weight: 500; }
        .name-step03 .section-content article.selection-name .article-content > ul > li p {
          font-size: 12px;
          color: #666;
          line-height: 18px;
          margin-top: 5px; }
  .name-step03 .section-content article.middle-name p {
    float: right; }
  .name-step03 .section-content article.result-name .article-content {
    margin-top: 20px; }
    .name-step03 .section-content article.result-name .article-content .table-wrap .table thead tr th {
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .name-step03 .section-content article.result-name .article-content .table-wrap .table thead tr th:last-child {
        border-right: 0; }
    .name-step03 .section-content article.result-name .article-content .table-wrap .table tbody tr td {
      height: 50px;
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .name-step03 .section-content article.result-name .article-content .table-wrap .table tbody tr td:last-child {
        border-right: 0; }
    .name-step03 .section-content article.result-name .article-content .btn-area {
      margin-top: 20px;
      text-align: right; }
  .name-step03 .section-content article.disuse-name .article-content {
    margin-top: 20px; }
    .name-step03 .section-content article.disuse-name .article-content thead tr th {
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .name-step03 .section-content article.disuse-name .article-content thead tr th:last-child {
        border-right: 0; }
    .name-step03 .section-content article.disuse-name .article-content tbody tr td {
      padding: 15px 10px;
      height: 50px;
      vertical-align: middle;
      background-color: #fafafa;
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .name-step03 .section-content article.disuse-name .article-content tbody tr td:last-child {
        border-right: 0;
        text-align: left;
        background-color: #fff; }

.t-responsive > .table {
  border-top: 0 !important; }
  .t-responsive > .table > tbody > tr:nth-of-type(1) td {
    padding: 10px;
    color: #fff;
    border-right: 1px solid #dfdfdf;
    background-color: #979aa2; }
    .t-responsive > .table > tbody > tr:nth-of-type(1) td:last-child {
      border-right: 0; }
  .t-responsive > .table > tbody > tr > td {
    font-size: 12px;
    padding: 0;
    text-align: center; }
    .t-responsive > .table > tbody > tr > td .table-wrap {
      height: 250px;
      overflow-y: scroll; }
      .t-responsive > .table > tbody > tr > td .table-wrap .table tbody tr td {
        font-size: 12px;
        color: #666;
        line-height: 50px;
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background-color: #fff; }
        .t-responsive > .table > tbody > tr > td .table-wrap .table tbody tr td:last-child {
          border-right: 0; }
      .t-responsive > .table > tbody > tr > td .table-wrap .table tbody tr.fine td {
        background-color: #e9d7e0; }
      .t-responsive > .table > tbody > tr > td .table-wrap .table tbody tr.available td {
        background-color: #ede5e1; }
      .t-responsive > .table > tbody > tr > td .table-wrap .table tbody tr.ordinary td {
        background-color: #d9e6ea; }

.self-access-guide .guide-list li .details {
  padding-left: 30px; }
  .self-access-guide .guide-list li .details p {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    margin-top: 20px; }
    .self-access-guide .guide-list li .details p ~ p {
      margin-top: 10px; }
  .self-access-guide .guide-list li .details ul {
    margin-top: 10px; }
    .self-access-guide .guide-list li .details ul li {
      font-size: 12px;
      color: #666;
      line-height: 18px; }

.basket-list .article-content {
  margin-top: 35px; }
  .basket-list .article-content .selection-btn {
    overflow: hidden;
    margin-bottom: 15px; }
    .basket-list .article-content .selection-btn p .btn {
      float: left;
      width: 75px;
      height: 30px;
      font-size: 12px;
      color: #666;
      line-height: 28px;
      margin-right: 10px;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      background-color: #fff; }
      .basket-list .article-content .selection-btn p .btn:last-child {
        float: right;
        margin-right: 0; }
  .basket-list .article-content ul > li {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff; }
    .basket-list .article-content ul > li ~ li {
      margin-top: 10px; }
    .basket-list .article-content ul > li .list-header dl {
      overflow: hidden; }
      .basket-list .article-content ul > li .list-header dl dt {
        float: left;
        clear: both;
        font-size: 12px;
        color: #333;
        font-weight: 500;
        width: 25%;
        line-height: 30px; }
      .basket-list .article-content ul > li .list-header dl dd {
        float: left;
        width: 75%;
        color: #666;
        font-weight: 400;
        line-height: 30px; }
        .basket-list .article-content ul > li .list-header dl dd p {
          float: left; }
        .basket-list .article-content ul > li .list-header dl dd input {
          position: relative;
          top: 4px;
          display: inline-block;
          float: right; }
    .basket-list .article-content ul > li .table-wrap {
      margin-top: 15px; }
      .basket-list .article-content ul > li .table-wrap .table {
        border-top: 0 !important; }
        .basket-list .article-content ul > li .table-wrap .table tbody tr td {
          font-size: 12px;
          color: #999;
          vertical-align: middle;
          text-align: center;
          border-right: 1px solid #dfdfdf;
          border-bottom: 1px solid #dfdfdf; }
          .basket-list .article-content ul > li .table-wrap .table tbody tr td:first-child {
            color: #fff;
            background-color: #979aa2; }
          .basket-list .article-content ul > li .table-wrap .table tbody tr td:last-child {
            border-right: 0; }
        .basket-list .article-content ul > li .table-wrap .table tbody tr:first-child td {
          color: #666;
          background-color: #f6f6f6; }
    .basket-list .article-content ul > li > .btn-area {
      margin-top: 15px; }
  .basket-list .article-content > .btn-area {
    text-align: right;
    margin-top: 20px; }

.interpret-step01 .article-content {
  margin-top: 30px; }
  .interpret-step01 .article-content .table-wrap .table {
    border-top: 0 !important; }
    .interpret-step01 .article-content .table-wrap .table thead tr th {
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      background-color: #979aa2;
      border: 0;
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .interpret-step01 .article-content .table-wrap .table thead tr th:last-child {
        border-right: 0; }
    .interpret-step01 .article-content .table-wrap .table tbody tr td {
      font-size: 12px;
      color: #666;
      font-weight: 400;
      height: 50px;
      text-align: center;
      vertical-align: middle;
      background-color: #fff;
      border: 0;
      border-right: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .interpret-step01 .article-content .table-wrap .table tbody tr td:last-child {
        border-right: 0; }
      .interpret-step01 .article-content .table-wrap .table tbody tr td:first-child {
        background-color: #fafafa; }
  .interpret-step01 .article-content .btn-area {
    margin-top: 20px;
    text-align: right; }

.interpret-step02 .section-content article ~ article {
  margin-top: 35px; }
.interpret-step02 .section-content article.score .table-wrap .table thead tr th {
  font-weight: 400; }
.interpret-step02 .section-content article.score .table-wrap .table tbody tr td {
  color: #999;
  font-weight: 300;
  text-align: center; }
  .interpret-step02 .section-content article.score .table-wrap .table tbody tr td b {
    color: #333;
    font-family: 'Roboto', sans-serif; }
.interpret-step02 .section-content article.score .table-wrap .table tbody tr:last-child td {
  color: #666; }
.interpret-step02 .section-content article.remainder .table-wrap .table {
  border-top: 0 !important; }
  .interpret-step02 .section-content article.remainder .table-wrap .table thead tr th {
    color: #fff;
    font-weight: 400;
    text-align: center;
    background-color: #979aa2;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; }
    .interpret-step02 .section-content article.remainder .table-wrap .table thead tr th:last-child {
      border-right: 0; }
  .interpret-step02 .section-content article.remainder .table-wrap .table tbody tr td {
    color: #999;
    height: 50px;
    text-align: center;
    font-weight: 300;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff; }
    .interpret-step02 .section-content article.remainder .table-wrap .table tbody tr td:last-child {
      border-right: 0; }
    .interpret-step02 .section-content article.remainder .table-wrap .table tbody tr td.result-name {
      color: #ff7875; }
.interpret-step02 .section-content .btn-area {
  margin-top: 20px;
  text-align: right; }

.interpret-step03 .section-content article ~ article {
  margin-top: 35px; }
.interpret-step03 .section-content article .summary {
  font-size: 12px;
  color: #999;
  margin-bottom: 15px; }
.interpret-step03 .section-content article .five-elements {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff; }
  .interpret-step03 .section-content article .five-elements p {
    font-size: 12px;
    color: #666;
    line-height: 18px; }
.interpret-step03 .section-content .btn-area {
  margin-top: 20px; }
  .interpret-step03 .section-content .btn-area p {
    overflow: hidden; }
    .interpret-step03 .section-content .btn-area p .btn-sm {
      float: left;
      width: 32%;
      margin-right: 2%; }
      .interpret-step03 .section-content .btn-area p .btn-sm:last-child {
        margin-right: 0; }

.application-list .article-content .table-wrap .table.table-bordered tbody tr td .btn-proceed .btn.btn-xs {
  width: 95px; }
.application-list .article-content .table-wrap .paging {
  margin-top: 20px; }

.special-view article ~ article {
  margin-top: 20px; }
.special-view article .article-content .table-wrap .table tr td ul li .parent-name dl {
  overflow: auto; }
  .special-view article .article-content .table-wrap .table tr td ul li .parent-name dl dt {
    display: inline-block;
    color: #666; }
    .special-view article .article-content .table-wrap .table tr td ul li .parent-name dl dt:after {
      content: " : "; }
  .special-view article .article-content .table-wrap .table tr td ul li .parent-name dl dd {
    display: inline-block; }
.special-view article .article-content .table-wrap .table tr td ul li .parent-details {
  margin-bottom: 5px; }
.special-view article .article-content .table-wrap .table tr td ul li:last-child .parent-details {
  margin-bottom: 0; }
.special-view article .article-content .table-wrap .table tr td > b {
  font-weight: 500;
  color: #666; }
.special-view article .article-content .table-wrap .table tr td .form-group label {
  margin-right: 10px; }
.special-view article .article-content .table-wrap .table tr td .attention {
  position: relative;
  font-size: 12px;
  color: #ff7875;
  padding-left: 15px;
  line-height: 17px;
  margin-top: 5px; }
  .special-view article .article-content .table-wrap .table tr td .attention:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "※"; }
.special-view .btn-area {
  margin-top: 20px;
  text-align: right; }

.recommend-view article .aricle-content .choice-details {
  margin-top: 25px;
  padding: 15px 0;
  border-top: 1px solid #b3b3b3; }
  .recommend-view article .aricle-content .choice-details ul li {
    position: relative;
    font-size: 12px;
    line-height: 17px;
    padding-left: 15px; }
    .recommend-view article .aricle-content .choice-details ul li i {
      font-style: normal;
      color: #ff7875; }
    .recommend-view article .aricle-content .choice-details ul li:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "※";
      color: #ff7875; }
    .recommend-view article .aricle-content .choice-details ul li:last-child {
      margin-top: 5px; }
      .recommend-view article .aricle-content .choice-details ul li:last-child .form-group label {
        font-weight: 400;
        margin-right: 10px; }
        .recommend-view article .aricle-content .choice-details ul li:last-child .form-group label input[type="radio"] {
          position: relative;
          top: 3px;
          margin-right: 5px; }
  .recommend-view article .aricle-content .choice-details .btn-area {
    text-align: right; }

.search-result .section-content article .article-header {
  padding: 0;
  border: 0; }
  .search-result .section-content article .article-header:before {
    display: none; }
  .search-result .section-content article .article-header > ul li {
    position: relative;
    font-size: 12px;
    color: #555;
    line-height: 17px;
    padding-left: 10px; }
    .search-result .section-content article .article-header > ul li:before {
      position: absolute;
      top: 2px;
      left: 0;
      color: #ad9cc4;
      content: "\E805";
      font-family: "fontello"; }
    .search-result .section-content article .article-header > ul li i {
      color: #ff7875;
      font-style: normal;
      font-weight: 400; }
  .search-result .section-content article .article-header .naming-search {
    margin-top: 20px; }
    .search-result .section-content article .article-header .naming-search ul > li {
      border-bottom: 1px solid #cfcfcf; }
      .search-result .section-content article .article-header .naming-search ul > li:first-child {
        border-top: 1px solid #cfcfcf; }
        .search-result .section-content article .article-header .naming-search ul > li:first-child dl dd .form-group p {
          display: inline-block;
          width: 25px;
          height: 25px;
          line-height: 23px;
          background-color: #eeeff4;
          border: 1px solid #dfdfdf; }
        .search-result .section-content article .article-header .naming-search ul > li:first-child dl dd .form-group .form-control {
          display: inline-block;
          width: 25px;
          height: 25px;
          padding: 3px;
          border: 1px solid #dfdfdf; }
      .search-result .section-content article .article-header .naming-search ul > li dl {
        overflow: hidden; }
        .search-result .section-content article .article-header .naming-search ul > li dl dt {
          float: left;
          width: 30%;
          font-size: 12px;
          line-height: 45px;
          font-weight: 400;
          padding-left: 20px;
          color: #fff;
          background-color: #acacac; }
        .search-result .section-content article .article-header .naming-search ul > li dl dd {
          position: relative;
          float: left;
          width: 70%;
          font-size: 12px;
          text-align: center;
          height: 45px;
          padding: 10px 0;
          background-color: #fff; }
          .search-result .section-content article .article-header .naming-search ul > li dl dd .form-group {
            padding-left: 20px; }
            .search-result .section-content article .article-header .naming-search ul > li dl dd .form-group .form-control {
              display: inline-block !important;
              padding: 3px;
              padding-left: 10px;
              display: block;
              width: 66%;
              height: 25px; }
            .search-result .section-content article .article-header .naming-search ul > li dl dd .form-group > .btn-area {
              vertical-align: top;
              display: inline-block;
              width: 30%;
              text-align: left; }
              .search-result .section-content article .article-header .naming-search ul > li dl dd .form-group > .btn-area p .btn-xs {
                width: 100%;
                height: 25px;
                font-weight: 300;
                line-height: 25px; }
.search-result .section-content article .article-content {
  margin-top: 30px; }
  .search-result .section-content article .article-content > .btn-area {
    text-align: left; }
  .search-result .section-content article .article-content .table-wrap {
    margin-top: 20px; }
    .search-result .section-content article .article-content .table-wrap .table tbody tr td .none-data {
      padding: 20px 0;
      text-align: center; }
      .search-result .section-content article .article-content .table-wrap .table tbody tr td .none-data h5 {
        font-size: 14px;
        color: #111;
        margin-bottom: 15px; }
      .search-result .section-content article .article-content .table-wrap .table tbody tr td .none-data p {
        font-size: 12px;
        color: #666;
        line-height: 18px;
        word-break: keep-all; }
        .search-result .section-content article .article-content .table-wrap .table tbody tr td .none-data p a {
          display: inline;
          color: #666;
          /*line-height: 18px;*/
          text-decoration: none; }
    .search-result .section-content article .article-content .table-wrap .paging {
      margin-top: 20px; }
    .search-result .section-content article .article-content .table-wrap .btn-area {
      text-align: right;
      margin-top: 20px; }

.special-write .section-content article ~ article {
  margin-top: 30px; }
.special-write .section-content article.offeror-info .attention {
  position: relative;
  font-size: 12px;
  color: #ff7875;
  padding-left: 15px; }
  .special-write .section-content article.offeror-info .attention ~ .attention {
    margin-top: 5px;
    margin-bottom: 20px; }
  .special-write .section-content article.offeror-info .attention:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "※"; }
.special-write .section-content article .table-wrap .table tbody tr {
  /*th {
      label {
          letter-spacing: -1px;
      }
  }*/ }
  .special-write .section-content article .table-wrap .table tbody tr td > b {
    color: #666;
    font-weight: 400; }
  .special-write .section-content article .table-wrap .table tbody tr td.default-td .form-group .form-control {
    display: inline-block;
    width: 80%; }
  .special-write .section-content article .table-wrap .table tbody tr td.zip-code .form-group .form-control {
    width: 100%; }
  .special-write .section-content article .table-wrap .table tbody tr td.addr .form-group .form-control {
    width: 100%; }
    .special-write .section-content article .table-wrap .table tbody tr td.addr .form-group .form-control ~ .form-control {
      margin-top: 10px; }
  .special-write .section-content article .table-wrap .table tbody tr td.contact .note {
    font-size: 12px;
    color: #999;
    margin-top: 10px; }
  .special-write .section-content article .table-wrap .table tbody tr td.contact .attention {
    margin-top: 5px; }
  .special-write .section-content article .table-wrap .table tbody tr td.mail .form-group input[type="text"] {
    width: 43% !important;
    display: inline-block !important; }
    .special-write .section-content article .table-wrap .table tbody tr td.mail .form-group input[type="text"]:nth-of-type(1) {
      margin-right: 2%; }
    .special-write .section-content article .table-wrap .table tbody tr td.mail .form-group input[type="text"]:nth-of-type(2) {
      margin-left: 2%; }
  .special-write .section-content article .table-wrap .table tbody tr td.mail .form-group select {
    width: 100% !important;
    margin-top: 10px;
    display: block !important; }
  .special-write .section-content article .table-wrap .table tbody tr td.route .form-group > div label {
    display: block;
    line-height: 24px;
    margin-left: 40px; }
  .special-write .section-content article .table-wrap .table tbody tr td.route .form-group > div ~ div {
    margin-top: 15px; }
    .special-write .section-content article .table-wrap .table tbody tr td.route .form-group > div ~ div label {
      margin-left: 0; }
    .special-write .section-content article .table-wrap .table tbody tr td.route .form-group > div ~ div .form-control {
      margin-top: 5px; }
  .special-write .section-content article .table-wrap .table tbody tr td.sex label {
    margin-right: 10px; }
    .special-write .section-content article .table-wrap .table tbody tr td.sex label:last-child {
      margin-right: 0; }
  .special-write .section-content article .table-wrap .table tbody tr td.birth-date .form-group ~ .form-group {
    margin-top: 10px; }
    .special-write .section-content article .table-wrap .table tbody tr td.birth-date .form-group ~ .form-group .form-control {
      width: 45%; }
  .special-write .section-content article .table-wrap .table tbody tr td.birth-date .form-group .form-control {
    display: inline-block;
    width: 38%; }
    .special-write .section-content article .table-wrap .table tbody tr td.birth-date .form-group .form-control:nth-of-type(2n + 2) {
      margin-left: 10px; }
  .special-write .section-content article .table-wrap .table tbody tr td.rotate label {
    display: block;
    line-height: 24px; }
  .special-write .section-content article .table-wrap .table tbody tr td.rotate .form-group {
    margin-top: 10px; }
  .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li ~ li {
    margin-top: 30px; }
  .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-name dl dt {
    font-size: 13px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px; }
  .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-name dl dd {
    position: relative;
    padding-left: 40px; }
    .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-name dl dd label {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      line-height: 30px; }
  .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details {
    margin-top: 20px; }
    .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details dl dt {
      font-size: 12px;
      color: #999;
      display: block;
      margin-bottom: 10px; }
    .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details dl dd .form-control {
      display: inline-block;
      width: 37%; }
      .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details dl dd .form-control:nth-of-type(2n + 2) {
        margin-left: 10px; }
    .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details p {
      color: #666; }
      .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details p:before {
        content: "※"; }
      .special-write .section-content article .table-wrap .table tbody tr td.parent .form-group > ul > li .parent-details p i {
        font-style: normal;
        color: #ff7875;
        font-weight: 400; }
  .special-write .section-content article .table-wrap .table tbody tr td.talk p {
    color: #666; }
    .special-write .section-content article .table-wrap .table tbody tr td.talk p.attention {
      color: #ff7875;
      font-weight: 400; }
      .special-write .section-content article .table-wrap .table tbody tr td.talk p.attention:before {
        content: "※"; }
.special-write .section-content .btn-area {
  text-align: right;
  margin-top: 20px; }

/*# sourceMappingURL=ange_naming.css.map */
