@charset "UTF-8";
@import url("https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  padding-top: 135px;
  min-width: 320px;
  font-size: 10px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 5px;
  padding-right: 5px; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12 {
      padding-left: 5px;
      padding-right: 5px; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff; }
  #header .top-banner {
    height: 50px;
    border-bottom: 1px solid #dfdfdf; }
    #header .top-banner a {
      display: block;
      height: 50px;
      padding: 5px 0; }
      #header .top-banner a figure img {
        width: auto;
        display: block;
        height: 40px;
        margin: 0 auto; }
  #header .logo-nav {
    position: relative;
    width: 100%;
    text-align: center; }
    #header .logo-nav h1 {
      display: inline-block; }
      #header .logo-nav h1 a {
        display: block; }
        #header .logo-nav h1 a img {
          height: 50px; }
    #header .logo-nav button {
      position: absolute;
      top: 50%;
      padding: 0;
      border: 0;
      background-color: #fff; }
      #header .logo-nav button.btn-open-nav {
        left: 15px;
        margin-top: -7px; }
        #header .logo-nav button.btn-open-nav img {
          width: 17px; }
      #header .logo-nav button.btn-open-mypage {
        right: 15px;
        margin-top: -8px; }
        #header .logo-nav button.btn-open-mypage img {
          width: 15px; }

#gnb {
  background-color: #e25371; }
  #gnb > ul {
    font-size: 0; }
    #gnb > ul > li {
      display: inline-block;
      width: 25%; }
      #gnb > ul > li a {
        display: block;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        line-height: 35px;
        text-align: center;
        text-decoration: none;
        border-left: 1px solid #ee749e;
        border-right: 1px solid #d32938; }
      #gnb > ul > li:first-child a {
        border-left: 0; }
      #gnb > ul > li:last-child a {
        border-right: 0; }

.gnb-opened {
  overflow: hidden; }
  .gnb-opened #gnb-nav {
    width: 100%; }
    .gnb-opened #gnb-nav .nav-container {
      left: 0; }

#gnb-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 400; }
  #gnb-nav .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  #gnb-nav .nav-container {
    position: absolute;
    top: 0;
    left: -220px;
    width: 220px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    #gnb-nav .nav-container .nav-header {
      position: relative;
      width: 100%;
      height: 40px;
      padding-top: 15px;
      background-color: #eeeff4; }
      #gnb-nav .nav-container .nav-header .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none !important;
        background-color: #ff7875; }
        #gnb-nav .nav-container .nav-header .btn-close img {
          position: relative;
          top: -2px;
          width: 16px;
          display: inline-block; }
      #gnb-nav .nav-container .nav-header .global-search {
        width: 150px;
        position: relative;
        margin-left: 15px; }
        #gnb-nav .nav-container .nav-header .global-search .form-group .form-control {
          font-size: 10px;
          width: 100%;
          color: #999;
          height: 25px;
          padding: 0;
          padding-bottom: 10px;
          padding-right: 20px;
          box-shadow: none !important;
          border: 1px solid #eeeff4;
          border-radius: 0;
          border-bottom: 1px solid #e25371;
          background-color: #eeeff4; }
        #gnb-nav .nav-container .nav-header .global-search .search-btn .btn-default {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 13px;
          color: #e25371;
          padding: 0;
          border: 0;
          border-radius: 0;
          box-shadow: none !important;
          background: none !important; }
          #gnb-nav .nav-container .nav-header .global-search .search-btn .btn-default i:before {
            vertical-align: top; }
    #gnb-nav .nav-container .nav-body .quick-menu {
      padding: 25px 0;
      background-color: #eeeff4; }
      #gnb-nav .nav-container .nav-body .quick-menu ul {
        display: table;
        width: 100%; }
        #gnb-nav .nav-container .nav-body .quick-menu ul li {
          display: table-cell;
          width: 33.33%;
          vertical-align: top;
          text-align: center; }
          #gnb-nav .nav-container .nav-body .quick-menu ul li a {
            display: block;
            text-decoration: none; }
            #gnb-nav .nav-container .nav-body .quick-menu ul li a figure {
              height: 38px; }
              #gnb-nav .nav-container .nav-body .quick-menu ul li a figure img {
                display: inline-block; }
            #gnb-nav .nav-container .nav-body .quick-menu ul li a p {
              font-size: 10px;
              color: #333;
              margin-top: 15px; }
          #gnb-nav .nav-container .nav-body .quick-menu ul li:nth-of-type(1) a figure img {
            width: 36px; }
          #gnb-nav .nav-container .nav-body .quick-menu ul li:nth-of-type(2) a figure img {
            width: 24px; }
          #gnb-nav .nav-container .nav-body .quick-menu ul li:nth-of-type(3) a figure {
            padding-top: 5px; }
            #gnb-nav .nav-container .nav-body .quick-menu ul li:nth-of-type(3) a figure img {
              width: 38px; }
    #gnb-nav .nav-container .nav-body .gnb-menu {
      background-color: #fff; }
      #gnb-nav .nav-container .nav-body .gnb-menu > ul > li {
        border-top: 1px solid #dfdfdf; }
        #gnb-nav .nav-container .nav-body .gnb-menu > ul > li:last-child {
          border-bottom: 1px solid #dfdfdf; }
          #gnb-nav .nav-container .nav-body .gnb-menu > ul > li:last-child a {
            border-bottom: 0; }
        #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > a {
          display: block;
          font-size: 12px;
          color: #333;
          font-weight: 400;
          padding: 15px;
          text-decoration: none; }
          #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > a:after {
            float: right;
            color: #aaa;
            font-size: 11px;
            font-family: "fontello";
            content: "\E80A"; }
        #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > ul {
          display: none;
          padding: 5px 0;
          padding-left: 15px;
          border-top: 1px solid #dfdfdf; }
          #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > ul > li > a {
            position: relative;
            display: inline-block;
            font-size: 10px;
            color: #999;
            line-height: 30px;
            text-decoration: none; }
            #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > ul > li > a:before {
              color: #999 !important;
              content: "- "; }
            #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > ul > li > a:hover, #gnb-nav .nav-container .nav-body .gnb-menu > ul > li > ul > li > a:focus {
              color: #7da7d9; }
        #gnb-nav .nav-container .nav-body .gnb-menu > ul > li.active > a {
          color: #fff;
          background-color: #7da7d9; }
          #gnb-nav .nav-container .nav-body .gnb-menu > ul > li.active > a:after {
            color: #fff;
            content: "\E80C"; }
        #gnb-nav .nav-container .nav-body .gnb-menu > ul > li.active > ul {
          display: block; }
    #gnb-nav .nav-container .nav-body .gnb-banner > ul > li > a {
      display: block;
      width: 100%; }
      #gnb-nav .nav-container .nav-body .gnb-banner > ul > li > a figure img {
        width: 100%; }
    #gnb-nav .nav-container .nav-body .sns-list {
      padding: 20px 0;
      background-color: #fff; }
      #gnb-nav .nav-container .nav-body .sns-list > ul {
        font-size: 0;
        text-align: center; }
        #gnb-nav .nav-container .nav-body .sns-list > ul > li {
          display: inline-block; }
          #gnb-nav .nav-container .nav-body .sns-list > ul > li a {
            display: block;
            margin: 0 2px; }
            #gnb-nav .nav-container .nav-body .sns-list > ul > li a img {
              width: 23px; }

.mypage-opened {
  overflow: hidden; }
  .mypage-opened #mypage-nav {
    width: 100%; }
    .mypage-opened #mypage-nav .nav-container {
      right: 0; }

#mypage-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 400; }
  #mypage-nav .nav-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  #mypage-nav .nav-container {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100%;
    overflow: auto;
    background-color: #eeeff4;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    #mypage-nav .nav-container .nav-header {
      position: relative;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 15px;
      background-color: #7accc8; }
      #mypage-nav .nav-container .nav-header .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none !important;
        background-color: #009991; }
        #mypage-nav .nav-container .nav-header .btn-close img {
          position: relative;
          top: -2px;
          width: 16px;
          display: inline-block; }
      #mypage-nav .nav-container .nav-header .user-info {
        padding-left: 15px; }
        #mypage-nav .nav-container .nav-header .user-info h2 {
          font-size: 13px;
          color: #333;
          font-weight: bold;
          margin-bottom: 15px; }
          #mypage-nav .nav-container .nav-header .user-info h2 small {
            color: #333;
            font-size: 11px;
            font-weight: 400; }
          #mypage-nav .nav-container .nav-header .user-info h2 .logout-btn {
            position: relative;
            top: 2px;
            display: inline-block;
            font-weight: bold;
            font-size: 11px;
            color: #333;
            vertical-align: top;
            margin-left: 3px; }
        #mypage-nav .nav-container .nav-header .user-info .user-profile {
          display: table;
          width: 100%; }
          #mypage-nav .nav-container .nav-header .user-info .user-profile > div {
            display: table-cell;
            vertical-align: top; }
            #mypage-nav .nav-container .nav-header .user-info .user-profile > div.profile {
              width: 54px; }
              #mypage-nav .nav-container .nav-header .user-info .user-profile > div.profile figure {
                overflow: hidden;
                width: 54px;
                height: 54px;
                text-align: center;
                line-height: 54px;
                border-radius: 50%;
                background-color: #fff; }
                #mypage-nav .nav-container .nav-header .user-info .user-profile > div.profile figure img {
                  width: 100%; }
            #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information {
              padding-left: 15px; }
              #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .mileage {
                font-size: 0; }
                #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .mileage li {
                  display: inline-block;
                  font-size: 10px;
                  color: #fff;
                  font-weight: 400;
                  font-family: 'Roboto', sans-serif; }
                  #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .mileage li:after {
                    color: #fff;
                    content: "|";
                    margin: 0 10px; }
                  #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .mileage li b {
                    font-weight: bold;
                    color: #ffd800; }
                  #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .mileage li:last-child:after {
                    content: "";
                    margin: 0; }
              #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .d-day {
                overflow: hidden;
                margin-top: 10px; }
                #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .d-day dt {
                  float: left;
                  clear: both;
                  font-size: 10px;
                  color: #333;
                  font-weight: 400;
                  line-height: 14px;
                  margin-right: 5px; }
                #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .d-day dd {
                  font-size: 10px;
                  font-weight: 400;
                  color: #333;
                  line-height: 14px; }
                  #mypage-nav .nav-container .nav-header .user-info .user-profile > div.information .d-day dd b {
                    font-weight: 500;
                    color: #fff799; }
    #mypage-nav .nav-container .ange-event a {
      position: relative;
      display: block;
      padding-left: 15px;
      background-color: #ff7875;
      text-decoration: none; }
      #mypage-nav .nav-container .ange-event a h3 {
        font-size: 15px;
        color: #fff;
        line-height: 35px;
        font-weight: 500;
        font-family: 'BM JUA','배달의민족 주아'; }
        #mypage-nav .nav-container .ange-event a h3 small {
          display: inline-block;
          font-weight: 300;
          color: #fff;
          margin-left: 10px;
          font-family: 'Noto Sans KR', sans-serif; }
      #mypage-nav .nav-container .ange-event a:after {
        position: absolute;
        top: 50%;
        right: 8px;
        font-size: 10px;
        color: #fff;
        margin-top: -7px;
        font-family: "fontello";
        content: "\E802"; }
    #mypage-nav .nav-container .nav-body > div {
      padding: 25px 15px;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid #ccc; }
      #mypage-nav .nav-container .nav-body > div:first-child {
        border-top: 0; }
      #mypage-nav .nav-container .nav-body > div:last-child {
        border-bottom: 0; }
      #mypage-nav .nav-container .nav-body > div.interest-keyword .title:after {
        content: "\E80D"; }
      #mypage-nav .nav-container .nav-body > div.interest-keyword > ul {
        overflow: hidden; }
        #mypage-nav .nav-container .nav-body > div.interest-keyword > ul > li {
          float: left;
          width: 50%; }
          #mypage-nav .nav-container .nav-body > div.interest-keyword > ul > li ~ li {
            margin-top: 5px; }
          #mypage-nav .nav-container .nav-body > div.interest-keyword > ul > li a {
            display: block;
            width: 100%;
            font-size: 10px;
            color: #666;
            text-align: center;
            line-height: 24px;
            text-decoration: none;
            border-radius: 5px;
            border-top-right-radius: 0;
            border: 1px solid #ccc; }
          #mypage-nav .nav-container .nav-body > div.interest-keyword > ul > li:nth-of-type(2) {
            margin-top: 0; }
          #mypage-nav .nav-container .nav-body > div.interest-keyword > ul > li:nth-of-type(2n + 1) {
            clear: both;
            padding-right: 5px; }
          #mypage-nav .nav-container .nav-body > div.interest-keyword > ul > li:nth-of-type(2n + 2) {
            padding-left: 5px; }
      #mypage-nav .nav-container .nav-body > div .title {
        display: block;
        font-size: 12px;
        color: #333;
        font-weight: 400;
        margin-bottom: 13px;
        text-decoration: none; }
        #mypage-nav .nav-container .nav-body > div .title:after {
          font-size: 10px;
          color: #999;
          content: "\E81A";
          float: right;
          font-family: "fontello"; }
      #mypage-nav .nav-container .nav-body > div > .board-list li a {
        display: block;
        font-size: 10px;
        color: #666;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none; }

#footer {
  padding-top: 20px;
  border-top: 1px solid #dfdfdf;
  background-color: #fff; }
  #footer .company {
    text-align: center; }
    #footer .company .policy > ul {
      font-size: 0; }
      #footer .company .policy > ul > li {
        display: inline-block; }
        #footer .company .policy > ul > li a {
          font-size: 10px;
          color: #999;
          text-decoration: none; }
        #footer .company .policy > ul > li:after {
          font-size: 10px;
          content: "·";
          margin: 0 10px; }
        #footer .company .policy > ul > li:last-child:after {
          content: "";
          margin: 0; }
    #footer .company .company-info {
      margin-top: 15px; }
      #footer .company .company-info > ul {
        font-size: 0; }
        #footer .company .company-info > ul > li {
          display: inline-block;
          font-size: 11px;
          color: #666;
          font-weight: 300;
          line-height: 16px; }
          #footer .company .company-info > ul > li a {
            color: #666;
            text-decoration: none; }
          #footer .company .company-info > ul > li:after {
            position: relative;
            top: -1px;
            font-size: 9px;
            color: #a3a3a3;
            content: "|";
            margin: 0 6px; }
          #footer .company .company-info > ul > li:last-child:after {
            content: "";
            margin: 0; }
      #footer .company .company-info > .capyright {
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        font-family: 'Roboto', sans-serif; }
        #footer .company .company-info > .capyright a {
          color: #666;
          text-decoration: none; }
    #footer .company .e-book {
      width: 125px;
      margin: 15px auto; }
      #footer .company .e-book a {
        display: block;
        text-decoration: none; }
        #footer .company .e-book a p {
          position: relative;
          font-size: 11px;
          color: #fff;
          width: 125px;
          line-height: 18px;
          text-align: left;
          margin-bottom: 6px;
          padding: 0 10px;
          border-radius: 5px;
          background-color: #acc5ee; }
          #footer .company .e-book a p:after {
            position: absolute;
            top: 0;
            right: 10px;
            content: "+"; }
        #footer .company .e-book a figure {
          text-align: center; }
          #footer .company .e-book a figure img {
            display: inline-block;
            width: 52px;
            margin-right: 6px;
            box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3); }
            #footer .company .e-book a figure img:last-child {
              margin-right: 0; }
  #footer .family-site {
    width: 100%;
    background-color: #ebebeb; }
    #footer .family-site > .dropup {
      width: 100%; }
      #footer .family-site > .dropup .btn-default {
        position: relative;
        min-width: 100%;
        font-size: 10px;
        color: #666;
        padding: 0 20px;
        text-align: left;
        line-height: 36px;
        border: 0;
        border-radius: 0;
        box-shadow: none !important;
        background-color: #ebebeb; }
        #footer .family-site > .dropup .btn-default:after {
          position: absolute;
          top: 0;
          right: 20px;
          font-family: "fontello";
          content: "\E807"; }
      #footer .family-site > .dropup .dropdown-menu {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        min-width: 100%; }
      #footer .family-site > .dropup.open .btn-default:after {
        content: "\E806"; }

/*# sourceMappingURL=default.css.map */
