@import url("https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
html {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  padding-top: 175px;
  min-width: 320px;
  height: 100%;
  font-size: 11px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 5px;
  padding-right: 5px; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12 {
      padding-left: 5px;
      padding-right: 5px; }

.tab-list {
  position: relative;
  margin-top: 10px;
  padding-right: 40px; }
  .tab-list > ul > li {
    vertical-align: top;
    width: 20%;
    margin-top: 0 !important; }
  .tab-list .btn-controls {
    position: absolute;
    top: 10px;
    right: 10px; }

.share-list {
  position: relative;
  text-align: center;
  font-size: 0; }
  .share-list li {
    display: inline-block; }
    .share-list li a {
      display: block;
      font-size: 10px;
      width: 19px;
      height: 19px;
      margin: 0 3px;
      border-radius: 50%;
      background-position: 50% 50%;
      background-size: 19px 19px;
      background-repeat: no-repeat; }
    .share-list li.naver-blog a {
      background-image: url(../images/e_magazine/icon_blog.png); }
    .share-list li.naver-post a {
      background-image: url(../images/e_magazine/icon_post.png); }
    .share-list li.insta a {
      background-image: url(../images/e_magazine/icon_insta.png); }
    .share-list li.kakao a {
      background-image: url(../images/e_magazine/icon_kakao.png); }
    .share-list li.facebook a {
      background-image: url(../images/e_magazine/icon_facebook.png); }
    .share-list li.export a {
      background-image: url(../images/e_magazine/icon_export.png); }
    .share-list li.last-ebook {
      position: absolute;
      top: 0;
      right: 0; }
      .share-list li.last-ebook .btn-ebook {
        font-size: 10px;
        color: #fff;
        width: 50px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: #ff7875;
        border-radius: 30px; }

.ebook {
  padding-top: 10px; }
  .ebook .section-header {
    padding-bottom: 30px; }
    .ebook .section-header figure img {
      width: 100%;
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2); }
    .ebook .section-header .details {
      padding-left: 20px; }
      .ebook .section-header .details small {
        font-size: 11px;
        color: #999;
        display: block;
        margin-bottom: 10px; }
      .ebook .section-header .details h3 {
        font-size: 13px;
        color: #333;
        font-weight: 400;
        line-height: 19px; }
      .ebook .section-header .details .icon-list {
        margin: 10px 0; }
      .ebook .section-header .details p {
        font-size: 11px;
        color: #666;
        word-break: keep-all;
        line-height: 14px; }
    .ebook .section-header .btn-area {
      margin-top: 15px; }
      .ebook .section-header .btn-area p .btn-more {
        text-align: center;
        color: #fff;
        border-color: #ff7875;
        background-color: #ff7875; }
        .ebook .section-header .btn-area p .btn-more:after {
          float: none;
          color: #fff;
          margin-left: 10px; }
  .ebook .section-content .year-date {
    position: relative;
    margin-bottom: 40px;
    border-top: 1px solid #bebfc3; }
    .ebook .section-content .year-date select {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 20px;
      font-size: 13px;
      font-weight: 400;
      color: #333;
      font-family: 'Roboto', sans-serif;
      margin-left: -40px;
      margin-top: -10px;
      padding-left: 10px;
      border: 1px solid #eeeff4;
      background-color: #eeeff4; }
  .ebook .section-content > ul > li ~ li a {
    margin-top: 20px; }
  .ebook .section-content > ul > li:nth-of-type(2) a, .ebook .section-content > ul > li:nth-of-type(3) a {
    margin-top: 0; }
  .ebook .section-content > ul > li:nth-of-type(3n + 1) {
    clear: both; }
  .ebook .section-content > ul > li a {
    display: block;
    text-decoration: none; }
    .ebook .section-content > ul > li a figure img {
      width: 100%; }
    .ebook .section-content > ul > li a .details {
      text-align: center;
      margin-top: 10px; }
      .ebook .section-content > ul > li a .details h4 {
        font-size: 11px;
        color: #333;
        font-weight: 300;
        margin-top: 5px;
        line-height: 14px; }

.btn-controls {
  font-size: 0; }
  .btn-controls a {
    display: inline-block;
    font-size: 11px;
    color: #ccc;
    margin-right: 5px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .btn-controls a:last-child {
      margin-right: 0; }
    .btn-controls a:hover, .btn-controls a:focus {
      color: #e96d7b; }
    .btn-controls a i:before {
      margin: 0; }

.magazine-list .section-content .type-btn {
  text-align: right;
  margin-bottom: 15px; }
  .magazine-list .section-content .type-btn .btn {
    width: 25px;
    height: 25px;
    font-size: 11px;
    color: #999;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: 5px;
    box-shadow: none !important; }
    .magazine-list .section-content .type-btn .btn:last-child {
      margin-right: 0; }
    .magazine-list .section-content .type-btn .btn.active {
      color: #fff;
      border-color: #ff7875;
      background-color: #ff7875; }
    .magazine-list .section-content .type-btn .btn i {
      position: relative;
      top: -1px; }
.magazine-list .section-content.list-type-1 > ul {
  overflow: hidden; }
  .magazine-list .section-content.list-type-1 > ul > li {
    float: left;
    width: 50%; }
    .magazine-list .section-content.list-type-1 > ul > li ~ li {
      margin-top: 20px; }
    .magazine-list .section-content.list-type-1 > ul > li:nth-of-type(2n + 1) {
      clear: both;
      padding-right: 5px; }
    .magazine-list .section-content.list-type-1 > ul > li:nth-of-type(2n + 2) {
      padding-left: 5px; }
    .magazine-list .section-content.list-type-1 > ul > li:nth-of-type(2) {
      margin-top: 0; }
    .magazine-list .section-content.list-type-1 > ul > li > a {
      display: block;
      text-decoration: none; }
      .magazine-list .section-content.list-type-1 > ul > li > a figure {
        position: relative;
        overflow: hidden;
        border-radius: 10px; }
        .magazine-list .section-content.list-type-1 > ul > li > a figure img {
          width: 100%; }
        .magazine-list .section-content.list-type-1 > ul > li > a figure:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          box-shadow: 0px -60px 70px -30px rgba(0, 0, 0, 0.35) inset;
          z-index: 1; }
      .magazine-list .section-content.list-type-1 > ul > li > a .details {
        position: relative;
        text-align: center;
        padding-top: 15px; }
        .magazine-list .section-content.list-type-1 > ul > li > a .details h4 {
          font-size: 11px;
          color: #333;
          font-weight: 400;
          line-height: 14px; }
        .magazine-list .section-content.list-type-1 > ul > li > a .details .icon-list {
          position: absolute;
          top: -20px;
          text-align: center;
          width: 100%;
          z-index: 2; }
          .magazine-list .section-content.list-type-1 > ul > li > a .details .icon-list li {
            color: #fff; }
        .magazine-list .section-content.list-type-1 > ul > li > a .details p {
          font-size: 10px;
          color: #999;
          line-height: 13px;
          font-weight: 300;
          margin-top: 10px; }
.magazine-list .section-content.list-type-1 .paging {
  margin-top: 25px; }
.magazine-list .section-content.list-type-2 > ul > li {
  padding: 20px 0;
  border-bottom: 1px solid #ccc; }
  .magazine-list .section-content.list-type-2 > ul > li:first-child {
    padding-top: 0; }
  .magazine-list .section-content.list-type-2 > ul > li > a {
    display: table;
    width: 100%;
    text-decoration: none; }
    .magazine-list .section-content.list-type-2 > ul > li > a figure {
      display: table-cell;
      width: 45%;
      vertical-align: top;
      overflow: hidden;
      border-radius: 10px; }
      .magazine-list .section-content.list-type-2 > ul > li > a figure img {
        width: 100%; }
    .magazine-list .section-content.list-type-2 > ul > li > a .details {
      vertical-align: middle;
      width: 55%;
      padding-left: 15px;
      display: table-cell;
      text-align: left; }
      .magazine-list .section-content.list-type-2 > ul > li > a .details h4 {
        font-size: 11px;
        color: #333;
        line-height: 14px;
        font-weight: 400; }
      .magazine-list .section-content.list-type-2 > ul > li > a .details .icon-list {
        margin: 10px 0; }
      .magazine-list .section-content.list-type-2 > ul > li > a .details p {
        font-size: 10px;
        color: #999;
        font-weight: 300;
        line-height: 13px; }
.magazine-list .section-content.list-type-2 .paging {
  margin-top: 20px; }

.magazine-view .section-header {
  padding-bottom: 10px; }
.magazine-view .section-content article {
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff; }
  .magazine-view .section-content article .article-header {
    text-align: center;
    padding-bottom: 30px; }
    .magazine-view .section-content article .article-header h4 {
      font-size: 14px;
      color: #333;
      font-weight: 500;
      margin: 10px 0 20px; }
    .magazine-view .section-content article .article-header figure img {
      width: 100%; }
    .magazine-view .section-content article .article-header .table-wrap {
      margin-top: 20px; }
      .magazine-view .section-content article .article-header .table-wrap .table {
        border: 0; }
        .magazine-view .section-content article .article-header .table-wrap .table tbody tr th {
          width: 110px;
          font-size: 10px;
          color: #333;
          font-weight: 400;
          text-align: left;
          vertical-align: middle;
          background-color: #f5f5f5;
          border-bottom: 1px solid #dfdfdf; }
        .magazine-view .section-content article .article-header .table-wrap .table tbody tr td {
          text-align: left;
          font-size: 10px;
          color: #999;
          word-break: keep-all;
          font-weight: 300;
          line-height: 13px;
          padding: 10px;
          vertical-align: middle;
          border-bottom: 1px solid #dfdfdf; }
          .magazine-view .section-content article .article-header .table-wrap .table tbody tr td a {
            text-decoration: none;
            color: #999; }
        .magazine-view .section-content article .article-header .table-wrap .table tbody tr:first-child th {
          border-top: 1px solid #dfdfdf; }
        .magazine-view .section-content article .article-header .table-wrap .table tbody tr:first-child td {
          border-top: 1px solid #dfdfdf; }
    .magazine-view .section-content article .article-header .btn-area {
      margin-top: 20px; }
      .magazine-view .section-content article .article-header .btn-area p {
        overflow: hidden; }
        .magazine-view .section-content article .article-header .btn-area p .btn-md img {
          display: inline-block;
          width: 10px;
          margin-left: 10px; }
        .magazine-view .section-content article .article-header .btn-area p .btn-xs {
          float: left; }
          .magazine-view .section-content article .article-header .btn-area p .btn-xs:last-child {
            float: right; }
    .magazine-view .section-content article .article-header .summary {
      font-size: 10px;
      color: #999;
      line-height: 16px;
      margin-top: 20px;
      font-weight: 300; }
      .magazine-view .section-content article .article-header .summary i {
        color: #ff7875;
        font-style: normal; }
    .magazine-view .section-content article .article-header .banner {
      margin-top: 30px; }
      .magazine-view .section-content article .article-header .banner figure img {
        width: 100%; }
    .magazine-view .section-content article .article-header hr {
      margin: 20px 0 10px;
      border-top: 1px solid #dfdfdf; }
  .magazine-view .section-content article .article-content .review-write {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background: none; }
  .magazine-view .section-content article .article-content .paging {
    margin-top: 20px; }

/*# sourceMappingURL=e_magazine.css.map */
