@import url("https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  padding-top: 135px;
  min-width: 320px;
  font-size: 10px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 5px;
  padding-right: 5px; }
  .container .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12 {
      padding-left: 5px;
      padding-right: 5px; }

.layer-popup {
  position: fixed;
  top: 60px;
  bottom: 60px;
  right: 20px;
  left: 20px;
  display: none;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  z-index: 100; }
  .layer-popup .pop-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  .layer-popup.open {
    display: block; }
  .layer-popup .popup-area {
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0; }
    .layer-popup .popup-area .layer-container {
      height: 100%;
      background-color: #fff; }
      .layer-popup .popup-area .layer-container .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; }
        .layer-popup .popup-area .layer-container .content .pop-header {
          position: relative;
          padding-left: 10px;
          padding-right: 35px;
          color: #fff;
          text-align: left; }
          .layer-popup .popup-area .layer-container .content .pop-header .pop-title {
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 35px; }
          .layer-popup .popup-area .layer-container .content .pop-header .btn-pop-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            display: block; }
            .layer-popup .popup-area .layer-container .content .pop-header .btn-pop-close img {
              position: relative;
              top: -2px;
              width: 15px; }
        .layer-popup .popup-area .layer-container .content .pop-body {
          padding: 20px 10px; }

.result .popup-area .layer-container .content .pop-header {
  background-color: #9fca83; }
  .result .popup-area .layer-container .content .pop-header .pop-title {
    line-height: 35px; }
  .result .popup-area .layer-container .content .pop-header .btn-pop-close {
    background-color: #7db858; }
    .result .popup-area .layer-container .content .pop-header .btn-pop-close img {
      width: 15px; }
.result .popup-area .layer-container .content .pop-body ul li {
  border-bottom: 2px solid #b2d69b; }
  .result .popup-area .layer-container .content .pop-body ul li ~ li {
    padding-top: 30px; }
  .result .popup-area .layer-container .content .pop-body ul li dl dt {
    position: relative;
    font-size: 11px;
    color: #333;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b2d69b; }
    .result .popup-area .layer-container .content .pop-body ul li dl dt:before {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 500;
      content: "Q";
      color: #fff;
      width: 16px;
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      border-radius: 50%;
      background-color: #b2d69b; }
  .result .popup-area .layer-container .content .pop-body ul li dl dd {
    padding-top: 10px; }
    .result .popup-area .layer-container .content .pop-body ul li dl dd p {
      font-size: 10px;
      color: #666;
      line-height: 20px; }
      .result .popup-area .layer-container .content .pop-body ul li dl dd p b {
        float: right;
        font-weight: 400;
        font-family: 'Roboto', sans-serif; }
  .result .popup-area .layer-container .content .pop-body ul li figure {
    margin-top: 10px; }
    .result .popup-area .layer-container .content .pop-body ul li figure img {
      width: 100%; }

.participation .popup-area .layer-container .content .pop-header {
  background-color: #ad9cc4; }
  .participation .popup-area .layer-container .content .pop-header .pop-title {
    line-height: 35px; }
  .participation .popup-area .layer-container .content .pop-header .btn-pop-close {
    background-color: #9079af; }
    .participation .popup-area .layer-container .content .pop-header .btn-pop-close img {
      width: 15px; }
.participation .popup-area .layer-container .content .pop-body .result-box {
  padding: 25px 20px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  background-color: #fafafa; }
  .participation .popup-area .layer-container .content .pop-body .result-box ul li {
    position: relative;
    padding-right: 65px; }
    .participation .popup-area .layer-container .content .pop-body .result-box ul li ~ li {
      margin-top: 20px; }
    .participation .popup-area .layer-container .content .pop-body .result-box ul li .details p {
      font-size: 10px;
      color: #666;
      font-weight: 300;
      line-height: 15px; }
      .participation .popup-area .layer-container .content .pop-body .result-box ul li .details p.outcome {
        font-weight: 400; }
        .participation .popup-area .layer-container .content .pop-body .result-box ul li .details p.outcome b {
          display: inline-block;
          margin-left: 10px;
          font-weight: 500;
          font-family: 'Roboto', sans-serif; }
    .participation .popup-area .layer-container .content .pop-body .result-box ul li .btn-more {
      position: absolute;
      top: 0;
      right: 0; }
      .participation .popup-area .layer-container .content .pop-body .result-box ul li .btn-more .btn-gray {
        width: 65px;
        font-size: 10px;
        color: #666;
        line-height: 30px;
        border-radius: 30px;
        background-color: #dfdfdf;
        box-shadow: none; }
        .participation .popup-area .layer-container .content .pop-body .result-box ul li .btn-more .btn-gray:focus {
          color: #fff;
          background-color: #ad9cc4; }
        .participation .popup-area .layer-container .content .pop-body .result-box ul li .btn-more .btn-gray.active {
          color: #fff;
          background-color: #ad9cc4; }
.participation .popup-area .layer-container .content .pop-body article {
  margin-top: 20px; }
  .participation .popup-area .layer-container .content .pop-body article .article-header {
    padding-bottom: 10px;
    border-bottom: 2px solid #ad9cc4; }
    .participation .popup-area .layer-container .content .pop-body article .article-header h6 {
      font-size: 11px;
      color: #333;
      font-weight: 300; }
      .participation .popup-area .layer-container .content .pop-body article .article-header h6 b {
        font-weight: 500;
        color: #9079af; }
  .participation .popup-area .layer-container .content .pop-body article .article-content .search-area {
    padding: 20px 0 10px;
    text-align: right; }
    .participation .popup-area .layer-container .content .pop-body article .article-content .search-area .form-group {
      position: relative;
      width: 100px;
      display: inline-block; }
      .participation .popup-area .layer-container .content .pop-body article .article-content .search-area .form-group .form-control {
        height: 26px;
        padding-right: 30px;
        border-radius: 30px; }
      .participation .popup-area .layer-container .content .pop-body article .article-content .search-area .form-group .search-btn .btn-default {
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 12px;
        color: #ad9cc4;
        background: none !important; }
        .participation .popup-area .layer-container .content .pop-body article .article-content .search-area .form-group .search-btn .btn-default i {
          position: relative;
          top: -1px; }
  .participation .popup-area .layer-container .content .pop-body article .article-content .participation-list h6 {
    font-size: 11px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    background-color: #979aa2; }
  .participation .popup-area .layer-container .content .pop-body article .article-content .participation-list ul {
    overflow: hidden;
    width: 100%;
    padding: 20px 10px 15px;
    border-bottom: 1px solid #e7e7e7; }
    .participation .popup-area .layer-container .content .pop-body article .article-content .participation-list ul li {
      float: left;
      width: 33.33%;
      text-align: left;
      font-size: 10px;
      color: #666;
      font-weight: 300;
      line-height: 22px;
      display: table-cell;
      vertical-align: middle; }
      .participation .popup-area .layer-container .content .pop-body article .article-content .participation-list ul li:nth-of-type(3n + 1) {
        clear: both; }
  .participation .popup-area .layer-container .content .pop-body article .article-content .paging {
    margin-top: 20px; }

/*# sourceMappingURL=sub_popup.css.map */
