@import 'common';

// 제목태그 공통
.terms {
    .title {
        font-size: 12px;
        color: #333;
        margin-bottom: 15px;
    }
    .common-terms {
        .terms-content {
            font-size: 10px;
            line-height: 16px;
            color: #666;
        }
    }
}








