
.icon-down-circle:before { content: '\e800'; } /* '' */
.icon-left-circle:before { content: '\e801'; } /* '' */
.icon-right-circle:before { content: '\e802'; } /* '' */
.icon-up-circle:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-dot:before { content: '\e805'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-left-open-big:before { content: '\e809'; } /* '' */
.icon-down-open-big:before { content: '\e80a'; } /* '' */
.icon-right-open-big:before { content: '\e80b'; } /* '' */
.icon-up-open-big:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-off:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e80f'; } /* '' */
.icon-th:before { content: '\e810'; } /* '' */
.icon-facebook-1:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-folder-open:before { content: '\e813'; } /* '' */
.icon-export:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-plus-1:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e817'; } /* '' */
.icon-database:before { content: '\e818'; } /* '' */
.icon-calendar-1:before { content: '\e819'; } /* '' */
.icon-plus-2:before { content: '\e81a'; } /* '' */
.icon-attention-filled:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81c'; } /* '' */
.icon-menu-1:before { content: '\e81d'; } /* '' */
.icon-right-small:before { content: '\e81e'; } /* '' */
.icon-left-small:before { content: '\e81f'; } /* '' */
.icon-phone:before { content: '\e820'; } /* '' */
.icon-home-1:before { content: '\e821'; } /* '' */
.icon-plus-circle:before { content: '\e822'; } /* '' */
.icon-basket:before { content: '\e824'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */